<div class="specbee-time-block">
  <div class="country">Country: {{ country }}</div>
  <div class="city">City: {{ city }}</div>
  <div class="timezone-date-time">Date - Time: {{ dateTime }}</div>
</div>